{
  "overrides": [
    {
      "files": ["*.js", "*.cjs", "*.mjs", "*.ts", "*.tsx", "*.cts", "*.mts"],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
